# --- Core Framework ---
Django==5.2.6
django-celery-beat

djangorestframework==3.16.1
django-cors-headers==4.9.0
django-crontab==0.7.1
django-extensions==4.1
django-timezone-field==7.1

# --- Database ---
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.2

# --- Utilities ---
python-dotenv==1.1.1
requests==2.32.5
python-dateutil==2.9.0.post0
packaging==25.0
typing_extensions==4.15.0
six==1.17.0
idna==3.10
urllib3==2.5.0
certifi==2025.8.3
colorama==0.4.6
cron_descriptor==2.0.6
prompt_toolkit==3.0.52
wcwidth==0.2.14

# --- Media & Reports ---
pillow==11.3.0
reportlab==4.4.4

# --- Production Server ---
gunicorn
